
.Login-contain{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} 
 .login-container {
    padding: 20px;
    width: 15vw;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
  }
  
  /* Form styles */
  .login-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .login-container h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .login-container label {
    font-size: 14px;
    font-weight: bold;
    color: #555;
    text-align: left;
    display: block;
  }
  
  .login-container input {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .login-container input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
  }
  
  /* Button styles */
  .login-container button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-container button:hover {
    background-color: #0056b3;
  }
  
  /* Error message styles */
  .error-message {
    color: #d9534f;
    background-color: #f9d6d5;
    padding: 10px;
    border: 1px solid #d9534f;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  /* Link styles */
  .login-container a {
    margin-top: 15px;
    display: block;
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
  }
  
  .login-container a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .login-container{
      width: 65%;
    }
  }